set imap_user="`gpg -qd /secrets/mail/black-neon-vt.gpg | grep imap_user | cut -d ' ' -f2`"
set imap_pass="`gpg -qd /secrets/mail/black-neon-vt.gpg | grep imap_pass | cut -d ' ' -f2`"
set spoolfile="`gpg -qd /secrets/mail/black-neon-vt.gpg | grep spoolfile | cut -d ' ' -f2`"
set folder="`gpg -qd /secrets/mail/black-neon-vt.gpg | grep folder | cut -d ' ' -f2`"
