[submodule "tmux"]
	path = tmux
	url = https://github.com/gsax/dot_tmux.git
[submodule "polybar"]
	path = polybar
	url = https://github.com/gsax/dot_polybar.git
[submodule "bspwm"]
	path = bspwm
	url = https://github.com/gsax/dot_bspwm.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/gsax/dot_alacritty.git
[submodule "firefox"]
	path = firefox
	url = https://github.com/gsax/dot_firefox.git
[submodule "neomutt"]
	path = neomutt
	url = https://github.com/gsax/dot_neomutt.git
[submodule "X"]
	path = X
	url = https://github.com/gsax/dot_X.git
[submodule "ranger"]
	path = ranger
	url = https://github.com/gsax/dot_ranger.git
[submodule "peaclock"]
	path = peaclock
	url = https://github.com/gsax/dot_peaclock.git
