[submodule "zsh"]
	path = zsh
	url = git@github.com:gsax/dot_zsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:gsax/dot_nvim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:gsax/dot_tmux.git
[submodule "polybar"]
	path = polybar
	url = git@github.com:gsax/dot_polybar.git
[submodule "bspwm"]
	path = bspwm
	url = git@github.com:gsax/dot_bspwm.git
