[submodule "zsh"]
	path = zsh
	url = https://github.com/gsax/dot_zsh.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/gsax/dot_nvim.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/gsax/dot_tmux.git
[submodule "polybar"]
	path = polybar
	url = https://github.com/gsax/dot_polybar.git
[submodule "bspwm"]
	path = bspwm
	url = https://github.com/gsax/dot_bspwm.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/gsax/dot_alacritty.git
[submodule "firefox"]
	path = firefox
	url = https://github.com/gsax/dot_firefox.git
